---
import YoutubeIcon from '../../icons/YoutubeIcon.astro'
---

<footer class="w-full flex flex-col md:flex-row max-w-[700px] m-auto justify-center items-center md:justify-between pt-10 pb-20 gap-y-10">
<span class="text-primary text-center">
    &copy; 2024 iamGameCode <span aria-hidden class="hidden md:inline">|</span><br aria-hidden class="block md:hidden" /> Todos los derechos reservados
</span>
</footer>