---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/sections/Hero.astro';
import About from '@/components/sections/About.astro';
import Experience from '@/components/sections/Experience.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
---

<Layout title="Web Oficial">
	<main>
		<Hero />
		<About />
		<Experience />
		<Skills />
		<Projects />
	</main>
</Layout>

<style>
	main{
		padding: 2rem;
		margin: auto;
		width: 100%;
	}
</style>
