---
const { title, id } = Astro.props;
---

<section class="section text-primary max-w-[700px] m-auto h-screen pt-24" id={id}>
  {title && <h2 class="font-bold text-lg-font md:text-lg-font-sm drop-shadow-theme">{title}</h2>}
  <slot />
</section>